html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body {
    overflow: hidden; /* добавить полосу прокрутки */
    background-color: cornsilk;
    display: flex;
    /*align-items: center;*/
    justify-content: center
}
select {
    min-width: 200px;
}
.top-menu {
    text-align: center;
    background-color: black;
    color: cornsilk;
    padding: 15px 0;
    margin-bottom: 2em;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.top-menu a {
    color: cornsilk;
    /*text-decoration: none;*/
}
.top-menu a:hover, .top-menu a::selection {
    color:brown;
}
.wrap {
    width: 60%;
    min-height: 100%;
    /*text-align: center;*/
}
.content {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: aliceblue;
    box-shadow: 0 0 10px rgba(0,0,0,0.5); /* Параметры тени */
}

.content .top-nav {
    padding: 0 20px;
    text-align: left;
}

.content .top-nav ul {
    border-bottom: 1px #9c9d98 solid;
    margin: 0;
    padding: 5px 0;
}

.content .top-nav ul li {
    display: inline-block;
    padding: 10px 25px;
    border-right: 1px #e4e4e4 solid;
}

.content .top-nav ul li:last-child {
    border: none;
}

.content .top-nav ul li a {
    text-decoration: none;
    color: #20211d;
    font-weight: bold;
}

.content .top-nav ul li a:hover {
    color: red;
}